<style>
  .heading {
    text-align: center;
  }

  .table-head {
    font-weight: bold;
  }
</style>

<div>
  <div>
    <h1>Expenses</h1>
  </div>
  <div style= "width: 100%;">

    <%= link_to "New expense", new_expense_path, data: { turbo_frame: "new-expense" } %>
    <div class="row table-head">
      <div class="col-3">Particular</div>
      <div class="col-3">Amount</div>
      <div class="col-3">Remark</div>
      <div class="col-3">Action</div>
    </div>
    <%= turbo_frame_tag "new-expense", target: "_top" %>
    <div id="expenses">
      <% @expenses.each do |expense| %>
        <%= render 'expense', expense: expense %>
      <% end %>
    </div>
  </div>
</div>

